[Unit]
Description=vncserver autostart daemon
After=gdm.service

[Service]
Type=onshot  # 定义启动类型。可设置：simple，exec，forking，oneshot，dbus，notify，idle 
ExecStart=/bin/sh -c "su cm -c '/usr/bin/vncserver :1 -geometry 1200x800 -localhost no'" # 服务开启时执行脚本 
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
