[Unit]
Description=mavros autostart shdaemon
After=roscore.service

[Service]
Type=simple
ExecStart=/home/cm/px4mocap/src/px4mocap/launch/mavros.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target