<launch>

	<include file="$(find mavros)/launch/node.launch">
		<arg name="fcu_url" value="/dev/ttyTHS0:921600" />
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
		<arg name="gcs_url" value="" />
		<arg name="tgt_system" value="1" />
		<arg name="tgt_component" value="1" />
		<arg name="log_output" value="screen" />
		<arg name="fcu_protocol" value="v2.0" />
		<arg name="respawn_mavros" default="false" />
	</include>

	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.31.61" />
	</include>

	<node pkg="px4mocap" type="px4mocap_node" name="px4mocap_node" output="screen">
		<remap from="rigidpose_topic" to="/vrpn_client_node/p450v1/pose"/>
	</node>

</launch>
