[Unit]
Description=vrpn2mavros autostart shdaemon
After=roscore.service

[Service]
Type=simple
ExecStart=/home/cm/px4mocap/src/px4mocap/launch/vrpn2mavros.sh
Restart=always    
# RestartSec=2

[Install]
WantedBy=multi-user.target