[Unit]
Description=vrpn2mavros.shdaemon

[Service]
ExecStart=/home/cm/px4mocap/src/px4mocap/launch/vrpn2mavros.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
